We're going to try to incorporate weather data into the analysis, with the hypothesis that precipitation and extreme temperatures will have negative effects on enforcement, so we might want to control for weather.

The weather data was downloaded several years at a time from the NOAA weather export tool. It was chunked because the data was too big to download in one pass. Here we combine it back together, and perform some basic quality checks.

In [1]:
import pandas as pd
import os

dfs = []
for f in os.scandir('../data/weather'):
    dfs.append(pd.read_csv(f.path))

In [2]:
len(dfs)

6

In [4]:
[len(df.columns) for df in dfs]

[13, 13, 13, 13, 13, 13]

In [5]:
df = pd.concat(dfs)

In [7]:
[d.shape[0] for d in dfs]

[10253, 79660, 98762, 106312, 64811, 77841]

In [8]:
sum([d.shape[0] for d in dfs])

437639

In [6]:
df.shape[0]

437639

In [12]:
df.sort_values(by=['DATE', 'STATION'], inplace=True)

In [13]:
df.head()

,DATE,PRCP,SNOW,SNWD,STATION,TAVG,TMAX,TMIN,WT01,WT03,WT04,WT05,WT06,WT11
328,20000101,0.00,0.0,NaN,GHCND:USC00050848,-9999.0,54,29,-9999,-9999,-9999,-9999,-9999,-9999
2949,20000101,0.06,1.3,NaN,GHCND:USC00051681,-9999.0,40,18,-9999,-9999,-9999,-9999,-9999,-9999
4608,20000101,0.00,0.0,NaN,GHCND:USC00053629,-9999.0,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
6801,20000101,0.00,0.0,NaN,GHCND:USC00055116,-9999.0,57,21,-9999,-9999,-9999,-9999,-9999,-9999
8584,20000101,0.00,0.0,NaN,GHCND:USC00055984,-9999.0,54,26,-9999,-9999,-9999,-9999,-9999,-9999

In [17]:
df.groupby(['DATE', 'STATION']).SNOW.count().value_counts()

1    338539
0     83495
2       169
Name: SNOW, dtype: int64

In [21]:
date_station_counts = df.groupby(['DATE', 'STATION']).SNOW.count().reset_index().rename(columns={'SNOW': 'counts'})

date_station_counts.head()

       DATE            STATION  counts
0  20000101  GHCND:USC00050848       1
1  20000101  GHCND:USC00051681       1
2  20000101  GHCND:USC00053629       1
3  20000101  GHCND:USC00055116       1
4  20000101  GHCND:USC00055984       1

In [22]:
date_station_counts[date_station_counts.counts == 2]

            DATE            STATION  counts
10224   20020101  GHCND:US1COBO0004       2
10225   20020101  GHCND:US1COBO0005       2
10226   20020101  GHCND:US1COBO0008       2
10227   20020101  GHCND:US1COBO0010       2
10228   20020101  GHCND:US1COBO0014       2
10229   20020101  GHCND:US1COBO0016       2
10230   20020101  GHCND:US1COBO0019       2
10231   20020101  GHCND:US1COBO0020       2
10232   20020101  GHCND:US1COBO0024       2
10233   20020101  GHCND:US1COBO0025       2
10234   20020101  GHCND:US1COBO0029       2
10235   20020101  GHCND:US1COBO0030       2
10236   20020101  GHCND:US1COBO0091       2
10237   20020101  GHCND:US1COBO0143       2
10238   20020101  GHCND:US1COBO0144       2
10239   20020101  GHCND:US1COBO0146       2
10240   20020101  GHCND:US1COBO0148       2
10241   20020101  GHCND:US1COBO0149       2
10242   20020101  GHCND:US1COBO0150       2
10243   20020101  GHCND:US1COBR0013       2
10244   20020101  GHCND:US1COJF0004       2
10245   20020101  GHCND:USC00050848       2
10246   20020101  GHCND:USC00051681       2
10247   20020101  GHCND:USC00053629       2
10248   20020101  GHCND:USC00055116       2
10249   20020101  GHCND:USC00055984       2
10250   20020101  GHCND:USC00056816       2
10251   20020101  GHCND:USR0000CBDR       2
10252   20020101  GHCND:USS0005J42S       2
74959   20050101  GHCND:US1COAD0011       2
...          ...                ...     ...
152770  20080101  GHCND:US1COBO0219       2
152771  20080101  GHCND:US1COBO0220       2
152772  20080101  GHCND:US1COBO0221       2
152773  20080101  GHCND:US1COBO0222       2
152774  20080101  GHCND:US1COBO0229       2
152775  20080101  GHCND:US1COBO0232       2
152776  20080101  GHCND:US1COBO0237       2
152777  20080101  GHCND:US1COBO0238       2
152778  20080101  GHCND:US1COBO0242       2
152779  20080101  GHCND:US1COBO0243       2
152780  20080101  GHCND:US1COBO0248       2
152781  20080101  GHCND:US1COBR0013       2
152782  20080101  GHCND:US1COJF0004       2
152783  20080101  GHCND:US1COJF0026       2
152784  20080101  GHCND:US1COJF0057       2
152785  20080101  GHCND:US1COJF0072       2
152786  20080101  GHCND:US1COJF0140       2
152787  20080101  GHCND:US1COJF0237       2
152788  20080101  GHCND:US1COJF0240       2
152789  20080101  GHCND:US1COJF0245       2
152790  20080101  GHCND:US1COJF0279       2
152791  20080101  GHCND:US1COWE0209       2
152792  20080101  GHCND:USC00050848       2
152793  20080101  GHCND:USC00051681       2
152794  20080101  GHCND:USC00053629       2
152795  20080101  GHCND:USC00055984       2
152796  20080101  GHCND:USC00056816       2
152797  20080101  GHCND:USR0000CBDR       2
152798  20080101  GHCND:USS0005J42S       2
152799  20080101  GHCND:USW00094075       2

[169 rows x 3 columns]

In [ ]:
# Oops, it looks like all the first days of years got duplicated.

In [24]:
df.drop_duplicates(subset=['DATE', 'STATION'], inplace=True)

In [25]:
df.groupby(['DATE', 'STATION']).SNOW.count().max()

1

In [10]:
df['DATE'] = pd.to_datetime(df.DATE, format='%Y%M%d')

In [26]:
df.to_csv('../data/boulder-weather-raw.csv', index=False)

In [29]:
df.head()

,DATE,PRCP,SNOW,SNWD,STATION,TAVG,TMAX,TMIN,WT01,WT03,WT04,WT05,WT06,WT11
328,20000101,0.00,0.0,NaN,GHCND:USC00050848,-9999.0,54,29,-9999,-9999,-9999,-9999,-9999,-9999
2949,20000101,0.06,1.3,NaN,GHCND:USC00051681,-9999.0,40,18,-9999,-9999,-9999,-9999,-9999,-9999
4608,20000101,0.00,0.0,NaN,GHCND:USC00053629,-9999.0,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
6801,20000101,0.00,0.0,NaN,GHCND:USC00055116,-9999.0,57,21,-9999,-9999,-9999,-9999,-9999,-9999
8584,20000101,0.00,0.0,NaN,GHCND:USC00055984,-9999.0,54,26,-9999,-9999,-9999,-9999,-9999,-9999