We're going to try to incorporate weather data into the analysis, with the hypothesis that precipitation and extreme temperatures will have negative effects on enforcement, so we might want to control for weather.

In [1]:
import pandas as pd
import os

dfs = []
for f in os.scandir('../data/weather'):
    dfs.append(pd.read_csv(f.path))

In [2]:
len(dfs)

6

In [4]:
[len(df.columns) for df in dfs]

[13, 13, 13, 13, 13, 13]

In [5]:
df = pd.concat(dfs)

In [7]:
[d.shape[0] for d in dfs]

[10253, 79660, 98762, 106312, 64811, 77841]

In [8]:
sum([d.shape[0] for d in dfs])

437639

In [6]:
df.shape[0]

437639

In [12]:
df.sort_values(by=['DATE', 'STATION'], inplace=True)

In [13]:
df.head()

,DATE,PRCP,SNOW,SNWD,STATION,TAVG,TMAX,TMIN,WT01,WT03,WT04,WT05,WT06,WT11
328,20000101,0.00,0.0,NaN,GHCND:USC00050848,-9999.0,54,29,-9999,-9999,-9999,-9999,-9999,-9999
2949,20000101,0.06,1.3,NaN,GHCND:USC00051681,-9999.0,40,18,-9999,-9999,-9999,-9999,-9999,-9999
4608,20000101,0.00,0.0,NaN,GHCND:USC00053629,-9999.0,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
6801,20000101,0.00,0.0,NaN,GHCND:USC00055116,-9999.0,57,21,-9999,-9999,-9999,-9999,-9999,-9999
8584,20000101,0.00,0.0,NaN,GHCND:USC00055984,-9999.0,54,26,-9999,-9999,-9999,-9999,-9999,-9999

In [10]:
df['DATE'] = pd.to_datetime(df.DATE, format='%Y%M%d')

In [14]:
df.to_csv('../data/boulder-weather-raw.csv', index=False)